<header class="background-darck-blue mb-5">
    <div class=" container d-flex justify-content-center ">
        <div class=" text-center mb-5  col-md-8">
            <h4  class=" mb-3 text-light">About</h4>
            <h1 class=" mb-5 text-light">We love to make great things, things that matter.</h1>
            <p class=" text-light">Funding handshake buyer business-to-business metrics iPad partnership. First mover advantage innovator success deployment non-disclosure.</p>
        </div>
    </div>
</header>


