<section class="container  mb-5 d-flex  flex-column align-items-center  ">
    <div class="title_format mt-5 col-md-8">
        <p class="grey mb-3 ">Our team</p>
        <h3 class="fs-1 mb-3">The leadership team</h3>
        <p class="grey mb-5" >Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus. </p>
    </div>
    <div class="card_wrapper d-flex flex-md-row flex-column ">
        <div class="card mx-5 px-0 border border-0">
            <img src="/img/Michael Scott.png" class="mb-3 img-fluid" alt="">
            <h3 class="mb-3 fs-3">Michael Scott</h3>
            <p class="grey text-secondary">General Manager</p>
        </div>
        <div class="card mx-5 border border-0">
            <img src="/img/Dwight Schrute.png" class="mb-3 img-fluid" alt="">
            <h3 class="mb-3 fs-3">Dwight Schrute</h3>
            <p class="grey text-secondary">General Manager</p>
        </div>
        <div class="card mx-5 border border-0">
            <img src="/img/Pam Beetsley.png" class="mb-3 img-fluid" alt="">
            <h3 class="mb-3 fs-3">Pam Beetsley</h3>
            <p class="grey text-secondary">General Manager</p>
        </div>
    </div>
</section>