<section class="our_team container reveal fade-left">
    <div class="title_format ">
        <p class="grey">Our team</p>
        <h3>The leadership team</h3>
        <p class="grey" >Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus. </p>
    </div>
    <div class="card_wrapper">
        <div class="card">
            <img src="/img/Michael Scott.png" alt="">
            <h4>Michael Scott</h4>
            <p class="grey">General Manager</p>
        </div>
        <div class="card">
            <img src="/img/Dwight Schrute.png" alt="">
            <h4>Dwight Schrute</h4>
            <p class="grey">General Manager</p>
        </div>
        <div class="card">
            <img src="/img/Pam Beetsley.png" alt="">
            <h4>Pam Beetsley</h4>
            <p class="grey">General Manager</p>
        </div>
    </div>
</section>