<section class="status ">
    <div class="container">
        <div class="status_header">
            <p >Our numbers</p>
            <h3>Handshake infographic mass market crowdfunding iteration.</h3>
        </div>
        <div class="status_numbers">
            <div>
                <h1 class="green">120m</h1>
                <p>Cool feature title</p>
            </div>
            <div>
                <h1 class="green" >10.000</h1>
                <p>Cool feature title</p>
            </div>
            <div>
                <h1 class="green">240</h1>
                <p>Cool feature title</p>
            </div>
        </div>
    </div>
</section>