<section class="values">
    <div class="title_format container  reveal fade-right"> 
        <p class="grey">Our values</p>
        <h3 class="white">Value proposition accelerator product management venture</h3>
        <p class="white">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus. </p>
    </div>
    <div class=" values_cards_wrapper white">
        <div class="values_cards  reveal fade-bottom">
            <img src="/img/value_img1.png" alt="">
            <div class="values_cards_text">
                <h4>We are commited.</h4>
                <p>Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
        <div class="values_cards reveal fade-bottom" >
            <img src="/img/value_img2.png" alt="">
            <div class="values_cards_text">
                <h4>We are responsible.</h4>
                <p>Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
        <div class="values_cards reveal fade-bottom ">
            <img src="/img/value_img3.png" alt="">
            <div class="values_cards_text">
                <h4>We aim for progress.</h4>
                <p>Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
    </div>
</section>