<section class="values background-darck-blue py-5">
    <div class=" container col-5 mb-5 d-flex flex-column "> 
        <p class="mb-3 text-light">Our values</p>
        <h3 class=" mb-3 text-light">Value proposition accelerator product management venture</h3>
        <p class="mb-5 text-light">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. Traction stock user experience deployment beta innovator incubator focus. </p>
    </div>
    <div class="container col-5 ">
        <div class="d-flex flex-row mb-5">
            <img class="me-5" src="/img/value_img1.png" alt="">
            <div class="">
                <h4 class="text-light">We are commited.</h4>
                <p class="text-light">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
        <div class="d-flex flex-row mb-5" >
            <img class="me-5" src="/img/value_img2.png" alt="">
            <div class="">
                <h4 class=" text-light">We are responsible.</h4>
                <p class="text-light">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
        <div class="d-flex flex-row mb-5">
            <img class="me-5" src="/img/value_img3.png" alt="">
            <div class="">
                <h4 class="text-light">We aim for progress.</h4>
                <p class="text-light">Conversion angel investor entrepreneur first mover advantage. Handshake infographic mass market crowdfunding iteration. </p>
            </div>
        </div>
    </div>
</section>

