<div class="max-w-xs">
    <img class="mb-6 {% if pagename == 'aboutV2' %} w-64 h-64 {% endif %}" src="{{people.imgUrl}}">
    <h3 class="text-3xl mb-6">{{people.name}}</h3>
    <p class="text-xl text-gray-500">{{people.title}}</p>
</div>