footer{
    margin: 0 auto;
    
    .footer_call_to_action{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #0A2640;
        border-radius: 20px;
        height: 390px;
        text-align: center;
        margin-top: 1000px;
        margin-bottom: 100px;
        
        h3 {
            width: 650px;
        }

        
        .call_to_action{
            display: flex;
            justify-content:space-between;
            align-items: center;
            width: 600px;
            a {
                background-color: #65E4A3;
                border-radius: 56px;
                padding: 16px 56px;
                
                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            input {
                background-color: white;
                border-radius: 56px;
                padding: 16px;
                width: 370px; 
                
            }

        }
       
    }


    .footer_sub_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .footer_social{
            width: 300px;
            svg {
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 64px;
            }
        }
    }

    .footer_flex {
       display: flex;
       flex-direction: column;
       width: 150px;
       

      
       h4,a {
        margin-bottom: 40px;
    
       }

       h4 {
        font-weight: 600;
       }
       
      

       a span{
        background-color: #65E4A3;
        padding: 1px 14px;
        border-radius: 120px;
        
        }
    }

    
}