header {
    background-color:#0A2640;
    height: 615px;
    div {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        h2 {
            padding-bottom: 12px;
        }

        h1 {
            padding-bottom: 30px;
        }

        p {
            width: 700px;
        }

        
    }
    
    
}

