.img_grid_wrapper {
    margin-bottom: 100px;
    .img_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        position: relative;
        top: -100px;


        .img_grid_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
        }

    }

}
