h1 {
    font-size: 40px;
}
h2 {
    font-size: 22px;
    font-weight: 600;
   
}
h3 {
    font-size: 48px;
    font-weight: 300;
    color: #111;
    line-height: 1.6;
}


p {
    font-size: 16px;
}

.white {
    color: white;
}

.dark_blue {
    color: #0A2640;
}


.grey {
    color: #777777;
    
}


span {
    font-size: 13px;
    
}

@media (min-width: 992px) {
    h1 {
        font-size: 64px;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 74px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 44px;
    }
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
    
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }