.values {
    height: 1160px;
    background-color: #0A2640;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .values_cards_wrapper{
        width: 800px;
        margin: 0 auto;

        .values_cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 70px;
            

            img {
                width: 150px;
                height: 150px;
            }
            
            

            .values_cards_text {
                p{
                width: 600px;
                }
            }
        }
    }

}