{% extends "layout.njk" %}

{% set title = 'About' %}
{% set pagename = 'about' %}
{% set numberOfComoinentes = 4 %}

{% block maincontent %}
    {% include 'partials/hero_about.njk' %} 
    {% include 'partials/our_story.njk' %} 
    {% include 'partials/our_numbers.njk' %}
    {% include 'partials/out_team.njk' %}
    {% include 'partials/our_values.njk' %}
{% endblock maincontent %}