{% extends "layout.njk" %}

{% set title = 'Home' %}
{% set pagename = 'home' %}
{% set numberOfArticles = 4 %}

{% block maincontent %}
    {% include 'partials/hero.njk' %}
    {% include 'partials/our_service.njk' %}
    {% include 'partials/testemonial.njk' %}
    {% include 'partials/articles.njk' %}
{% endblock maincontent%}